openapi: 3.0.0
info:
  title: Vipps Order Management API
  version: '1.0'
  description: API to add and read additional info for Vipps orders.
  contact:
    name: Vipps
    url: 'https://vipps.no/kontakt-oss/bedrift/vipps/'
servers:
  - url: 'https://api.vipps.no/order-management'
    description: Vipps Order Management API
paths:
  '/{version}/orders/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        in: path
        required: true
      - $ref: '#/components/parameters/version'
    put:
      summary: Add info to an order
      operationId: putOrder
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
            examples:
              Adding order metadata with one image:
                value:
                  category: GENERAL
                  orderDetailsUrl: 'https://www.vipps.no'
                  imageId: vipps-socks-orange-123
        description: ''
      description: 'Post additional information about an order that will show up on the Vipps receipt. '
      parameters:
        - $ref: '#/components/parameters/Merchant-Serial-Number'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
      tags:
        - Order
  '/{version}/orders/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        in: path
        required: true
      - $ref: '#/components/parameters/version'
    get:
      summary: Get info for an order
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                Retrieve order info:
                  value:
                    category: TICKET
                    orderDetailsUrl: 'https://www.vipps.no'
                    imageIds:
                      - id: vipps-socks-orange-123
                        sortOrder: 1
        '404':
          description: Order Not Found
      operationId: getOrder
      description: Retrieve the metadata for an order
      parameters:
        - $ref: '#/components/parameters/Merchant-Serial-Number'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
      tags:
        - Order
  /{version}/images:
    post:
      summary: Add an image to an order
      operationId: postImage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
              examples:
                example-1:
                  value:
                    imageId: vipps-socks-orange-123
      description: Endpoint for uploading images. A imageId will be returned that can be used when adding metadata to orders.
      parameters:
        - $ref: '#/components/parameters/Merchant-Serial-Number'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/version'
      tags:
        - Image
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
            examples:
              ImageUploadExample:
                value:
                  imageId: vipps-socks-orange-123
                  src: iVBORw0KGgoAAAANSUhEUgAAAKsAAADVCAMAAAAfHv
                  type: base64
    parameters: []
  '/{version}/receipts/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        in: path
        required: true
      - $ref: '#/components/parameters/version'
    get:
      summary: Get receipt for an order
      operationId: getReceipt
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
              examples: {}
      description: Endpoint for retrieving receipts.
      tags:
        - Receipt
      parameters:
        - $ref: '#/components/parameters/Merchant-Serial-Number'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
  '/{version}/receipts/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        in: path
        required: true
      - $ref: '#/components/parameters/version'
    post:
      summary: Add receipt to an order
      operationId: postReceipt
      responses:
        '200':
          description: ''
        '404':
          description: Order not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Receipt'
            examples:
              ReceiptExample:
                value:
                  orderLines:
                    - name: Vipps socks
                      id: line_item_1
                      totalAmount: 1000
                      totalAmountExcludingTax: 800
                      totalTaxAmount: 200
                      taxPercentage: 25
                      unitInfo:
                        unitPrice: 400
                        quantity: '2.5'
                        quantityUnit: KG
                      discount: 0
                      productUrl: www.vipps.no/store/socks
                    - name: Vipps flip-flops
                      id: line_item_2
                      totalAmount: 5000
                      totalAmountExcludingTax: 4000
                      totalTaxAmount: 1000
                      taxPercentage: 25
                      unitInfo:
                        unitPrice: 2500
                        quantity: '3'
                        quantityUnit: PCS
                      discount: 2500
                      productUrl: www.vipps.no/store/flipflops
                  bottomLine:
                    totalAmount: 6000
                    totalTax: 1200
                    totalDiscount: 2500
                    currency: NOK
                    shippingAmount: 0
                    tipAmount: 0
                    giftCardAmount: 0
                    terminalId: vipps_pos_122
      description: Endpoint for adding receipts to an order.
      tags:
        - Receipt
      parameters:
        - $ref: '#/components/parameters/Merchant-Serial-Number'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
components:
  schemas:
    Order:
      type: object
      x-examples:
        example-1:
          value:
            category: GENERAL
            orderDetailsUrl: 'https://www.vipps.no'
            imageId: vipps-socks-orange-123
      description: ''
      properties:
        category:
          $ref: '#/components/schemas/CategoryEnum'
        orderDetailsUrl:
          type: string
          example: 'https://www.vipps.no'
          format: uri
          description: URL linking back to the merchant's website/store.
          minLength: 1
          nullable: true
        imageId:
          type: string
          maxLength: 128
          pattern: '^[0-9A-Za-z-_\.]+$'
          minLength: 1
          example: vipps-socks-orange-123
      required:
        - category
        - orderDetailsUrl
    Image:
      type: object
      properties:
        imageId:
          description: Id of the image to be added
          maxLength: 128
          pattern: '^[0-9A-Za-z-_\.]+$'
          type: string
          example: vipps-socks-orange-123
        src:
          type: string
          description: 'The image dat as a base64 encoded string (not a URL)'
        type:
          type: string
          enum:
            - base64
      required:
        - imageId
        - src
        - type
      x-examples:
        example-1:
          value:
            imageId: vipps-socks-orange-123
            src: iVBORw0KGgoAAAANSUhEUgAAAKsAAADVCAMAAAAfHv
            type: base64
      title: ''
    ImageResponse:
      type: object
      properties:
        imageId:
          type: string
      x-examples:
        example-1:
          imageId: vipps-socks-orange-123
    Receipt:
      title: Receipt
      type: object
      properties:
        orderLines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderLine'
        bottomLine:
          $ref: '#/components/schemas/BottomLine'
      required:
        - orderLines
        - bottomLine
    OrderLine:
      title: OrderLine
      type: object
      description: 'All numbers are interpreted as integers with two trailing zeros. ex: 10.00 = 1000'
      x-examples:
        OrderLineExample:
          value:
            orderLines:
              - name: Vipps socks
                id: line_item_1
                totalAmount: 1000
                totalAmountExcludingTax: 800
                totalTaxAmount: 200
                taxPercentage: 25
                unitInfo:
                  unitPrice: 400
                  quantity: '2.5'
                  quantityUnit: KG
                discount: 0
                productUrl: www.vipps.no/store/socks
              - name: Vipps flip-flops
                id: line_item_2
                totalAmount: 5000
                totalAmountExcludingTax: 4000
                totalTaxAmount: 1000
                taxPercentage: 25
                unitInfo:
                  unitPrice: 2500
                  quantity: '3'
                  quantityUnit: PCS
                discount: 2500
                productUrl: www.vipps.no/store/flipflops
      properties:
        name:
          type: string
          description: Name of the product in the order line
          nullable: true
          example: Vipps socks
        id:
          type: string
          description: The product ID
          nullable: true
          example: 1234567890
        totalAmount:
          type: integer
          description: 'Total amount of the order line, including tax and discount'
          nullable: true
          example: 1000
        totalAmountExcludingTax:
          type: integer
          description: 'Total amount of order line with discount excluding tax '
          nullable: true
          example: 1000
        totalTaxAmount:
          type: integer
          description: Total tax amount paid for the order line
          nullable: true
          example: 250
        taxPercentage:
          type: integer
          description: Tax percantage for the order line
          nullable: true
          example: 25
        unitInfo:
          $ref: '#/components/schemas/UnitInfo'
        discount:
          type: integer
          description: Total discount for the order line
          nullable: true
          example: 0
        productUrl:
          type: string
          description: Optional URL linking back to the product at the merchant
          nullable: true
          example: www.vipps.no/store/socks
      required:
        - name
        - id
        - totalAmount
        - totalAmountExcludingTax
        - totalTaxAmount
        - taxPercentage
        - discount
    BottomLine:
      title: BottomLine
      type: object
      description: 'Summary of the order. Total amount and total '
      x-examples:
        BottomLineExample:
          value:
            totalAmount: 6000
            totalTax: 1200
            totalDiscount: 2500
            currency: NOK
            shippingAmount: 0
            tipAmount: 0
            giftCardAmount: 0
            terminalId: vipps_pos_122
      properties:
        totalAmount:
          type: integer
          description: 'The total amount the order, including all taxes and discounts'
          nullable: true
        totalTax:
          type: integer
          description: Total tax for the order
          nullable: true
        totalDiscount:
          type: integer
          description: Total discount from the orderLines
          nullable: true
        currency:
          $ref: '#/components/schemas/CurrencyEnum'
        shippingAmount:
          type: integer
          description: Shipping amount for the order
          nullable: true
        tipAmount:
          type: integer
          description: Tip amount for the order
          nullable: true
        giftCardAmount:
          type: integer
          description: Amount paid by gift card or coupon
          nullable: true
        terminalId:
          type: string
          nullable: true
      required:
        - totalAmount
        - totalTax
        - currency
    UnitInfo:
      title: UnitInfo
      type: object
      description: Optional. If no quantity info is provided the order line will default to 1 pcs
      x-examples:
        example-1:
          value:
            quantity: '0.822'
            unitPrice: 15000
            quantityUnit: KG
        example-2:
          value:
            quantity: '2'
            unitPrice: 20000
            quantityUnit: PCS
      properties:
        unitPrice:
          type: integer
          description: 'Total price per unit, including tax and excluding discount'
          nullable: true
        quantity:
          type: string
          maxLength: 10
          pattern: '^\d+([\.]\d{1,8})?$'
          example: '0.822'
          description: 'Quantity given as a integer or fraction '
        quantityUnit:
          $ref: '#/components/schemas/QuantityUnitEnum'
      required:
        - unitPrice
        - quantity
        - quantityUnit
    CategoryEnum:
      type: string
      title: CategoryEnum
      enum:
        - GENERAL
        - RECEIPT
        - ORDER_CONFIRMATION
        - DELIVERY
        - TICKET
        - BOOKING
    CurrencyEnum:
      type: string
      title: CurrencyEnum
      enum:
        - NOK
      nullable: true
    QuantityUnitEnum:
      type: string
      title: QuantityUnitEnum
      enum:
        - PCS
        - KG
        - KM
        - MINUTE
        - LITRE
      description: Available units for quantity. Will default to PCS if not set
      default: PCS
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
  parameters:
    version:
      name: version
      in: path
      required: true
      schema:
        type: string
        enum:
          - v1
      description: The API version
    Merchant-Serial-Number:
      name: Merchant-Serial-Number
      in: header
      required: true
      schema:
        type: string
      description: The Vipps merchant serial number for this sale unit.
    Ocp-Apim-Subscription-Key:
      name: Ocp-Apim-Subscription-Key
      in: header
      required: true
      schema:
        type: string
      description: The API subscription key.
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Bearer <MSI token issued to the identity of the client>
tags:
  - name: Image
  - name: MobileOrder
  - name: Order
  - name: Receipt
security:
  - BearerToken: []
